In [52]:
import os
import numpy as np
import pandas as pd

import datetime as dt
from datetime import datetime, timedelta, time
from pandas import DataFrame

In [53]:
#데이터 불러오기
path = "/root/yerim/"
os.chdir(path)


#train = pd.read_csv('train2.csv')
#test = pd.read_csv('test2.csv')
log_train = pd.read_csv('data/log_train.csv')
log_test = pd.read_csv('data/log_test.csv')

In [54]:
log_train.loc[log_train['mp_os'].isna(), 'event'] = 'Error'
log_train.loc[log_train['mp_os']=='android', 'event'] = 'Error2'
log_train = log_train.sort_values(['user_id','timestamp'])

In [55]:
log_train

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
8985228,1,Error2,2022-05-03 14:52:28,android,464,2022-05-03
8985230,1,Error2,2022-05-03 14:52:35,android,464,2022-05-03
8133626,7,Error2,2022-05-22 16:39:49,android,465,2022-05-22
7532851,9,Error2,2022-05-21 23:37:58,android,465,2022-05-21
7532880,9,Error2,2022-05-21 23:43:33,android,465,2022-05-21
...,...,...,...,...,...,...
5772878,879696,CompleteIDCertification,2022-03-14 05:38:16,Android,3.8.2,2022-03-14
5772879,879696,EndLoanApply,2022-03-14 05:42:14,Android,3.8.2,2022-03-14
6553999,879698,OpenApp,2022-05-24 22:33:24,iOS,NaN,2022-05-24
6554002,879698,StartLoanApply,2022-05-24 22:33:32,iOS,NaN,2022-05-24
6554004,879698,ViewLoanApplyIntro,2022-05-24 22:33:32,iOS,NaN,2022-05-24

In [56]:
log_train = log_train[['user_id','timestamp','date_cd','event']]

In [57]:
log_train

         user_id            timestamp     date_cd                    event
8985228        1  2022-05-03 14:52:28  2022-05-03                   Error2
8985230        1  2022-05-03 14:52:35  2022-05-03                   Error2
8133626        7  2022-05-22 16:39:49  2022-05-22                   Error2
7532851        9  2022-05-21 23:37:58  2022-05-21                   Error2
7532880        9  2022-05-21 23:43:33  2022-05-21                   Error2
...          ...                  ...         ...                      ...
5772878   879696  2022-03-14 05:38:16  2022-03-14  CompleteIDCertification
5772879   879696  2022-03-14 05:42:14  2022-03-14             EndLoanApply
6553999   879698  2022-05-24 22:33:24  2022-05-24                  OpenApp
6554002   879698  2022-05-24 22:33:32  2022-05-24           StartLoanApply
6554004   879698  2022-05-24 22:33:32  2022-05-24       ViewLoanApplyIntro

[12907328 rows x 4 columns]

In [58]:
#시간의 분 초까지 같은데 같은 event가 기록된 경우 중복이라고 판단하여 제거
log_train = log_train.drop_duplicates(['user_id','timestamp','date_cd','event'],keep="first")

In [59]:
log_train

         user_id            timestamp     date_cd                    event
8985228        1  2022-05-03 14:52:28  2022-05-03                   Error2
8985230        1  2022-05-03 14:52:35  2022-05-03                   Error2
8133626        7  2022-05-22 16:39:49  2022-05-22                   Error2
7532851        9  2022-05-21 23:37:58  2022-05-21                   Error2
7532880        9  2022-05-21 23:43:33  2022-05-21                   Error2
...          ...                  ...         ...                      ...
5772878   879696  2022-03-14 05:38:16  2022-03-14  CompleteIDCertification
5772879   879696  2022-03-14 05:42:14  2022-03-14             EndLoanApply
6553999   879698  2022-05-24 22:33:24  2022-05-24                  OpenApp
6554002   879698  2022-05-24 22:33:32  2022-05-24           StartLoanApply
6554004   879698  2022-05-24 22:33:32  2022-05-24       ViewLoanApplyIntro

[12566029 rows x 4 columns]

In [60]:
log_train2 = log_train.copy()

In [61]:
log_train2['Error2'] = np.where(log_train2['event'] == "Error2", 1, 0)
log_train2['OpenApp'] = np.where(log_train2['event'] == "OpenApp", 1, 0)
log_train2['GetCreditInfo'] = np.where(log_train2['event'] == "GetCreditInfo", 1, 0)
log_train2['UseLoanManage'] = np.where(log_train2['event'] == "UseLoanManage", 1, 0)
log_train2['UsePrepayCalc'] = np.where(log_train2['event'] == "UsePrepayCalc", 1, 0)
log_train2['StartLoanApply'] = np.where(log_train2['event'] == "StartLoanApply", 1, 0)
log_train2['ViewLoanApplyIntro'] = np.where(log_train2['event'] == "ViewLoanApplyIntro", 1, 0)
log_train2['CompleteIDCertification'] = np.where(log_train2['event'] == "CompleteIDCertification", 1, 0)
log_train2['EndLoanApply'] = np.where(log_train2['event'] == "EndLoanApply", 1, 0)
log_train2['Login'] = np.where(log_train2['event'] == "Login", 1, 0)              
log_train2['SignUp'] = np.where(log_train2['event'] == "SignUp", 1, 0)
log_train2['UseDSRCalc'] = np.where(log_train2['event'] == "UseDSRCalc", 1, 0) 
log_train2['Error'] = np.where(log_train2['event'] == "Error", 1, 0)

In [62]:
log_train2['Error2'] = log_train2.groupby(['user_id','date_cd'])['Error2'].cumsum()
log_train2['OpenApp'] = log_train2.groupby(['user_id','date_cd'])['OpenApp'].cumsum()
log_train2['GetCreditInfo'] = log_train2.groupby(['user_id','date_cd'])['GetCreditInfo'].cumsum()
log_train2['UseLoanManage'] = log_train2.groupby(['user_id','date_cd'])['UseLoanManage'].cumsum()
log_train2['UsePrepayCalc'] = log_train2.groupby(['user_id','date_cd'])['UsePrepayCalc'].cumsum()
log_train2['StartLoanApply'] = log_train2.groupby(['user_id','date_cd'])['StartLoanApply'].cumsum()
log_train2['ViewLoanApplyIntro'] = log_train2.groupby(['user_id','date_cd'])['ViewLoanApplyIntro'].cumsum()
log_train2['CompleteIDCertification'] = log_train2.groupby(['user_id','date_cd'])['CompleteIDCertification'].cumsum()
log_train2['EndLoanApply'] = log_train2.groupby(['user_id','date_cd'])['EndLoanApply'].cumsum()
log_train2['Login'] = log_train2.groupby(['user_id','date_cd'])['Login'].cumsum()
log_train2['SignUp'] = log_train2.groupby(['user_id','date_cd'])['SignUp'].cumsum()
log_train2['UseDSRCalc'] = log_train2.groupby(['user_id','date_cd'])['UseDSRCalc'].cumsum()
log_train2['Error'] = log_train2.groupby(['user_id','date_cd'])['Error'].cumsum()

In [63]:
log_train2['Error2'] = log_train2.groupby(['user_id','date_cd']).Error2.transform('last')
log_train2['OpenApp'] = log_train2.groupby(['user_id','date_cd']).OpenApp.transform('last')
log_train2['GetCreditInfo'] = log_train2.groupby(['user_id','date_cd']).GetCreditInfo.transform('last')
log_train2['UseLoanManage'] = log_train2.groupby(['user_id','date_cd']).UseLoanManage.transform('last')
log_train2['UsePrepayCalc'] = log_train2.groupby(['user_id','date_cd']).UsePrepayCalc.transform('last')
log_train2['StartLoanApply'] = log_train2.groupby(['user_id','date_cd']).StartLoanApply.transform('last')
log_train2['ViewLoanApplyIntro'] = log_train2.groupby(['user_id','date_cd']).ViewLoanApplyIntro.transform('last')
log_train2['CompleteIDCertification'] = log_train2.groupby(['user_id','date_cd']).CompleteIDCertification.transform('last')
log_train2['EndLoanApply'] = log_train2.groupby(['user_id','date_cd']).EndLoanApply.transform('last')
log_train2['Login'] = log_train2.groupby(['user_id','date_cd']).Login.transform('last')
log_train2['SignUp'] = log_train2.groupby(['user_id','date_cd']).SignUp.transform('last')
log_train2['UseDSRCalc'] = log_train2.groupby(['user_id','date_cd']).UseDSRCalc.transform('last')
log_train2['Error'] = log_train2.groupby(['user_id','date_cd']).Error.transform('last')

In [64]:
log_train2.drop(['timestamp','event'],axis=1,inplace=True)

In [65]:
log_train2 = log_train2.drop_duplicates()

In [66]:
log_train2 = log_train2.sort_values(['user_id','date_cd'])

In [67]:
log_train2['Error2'] = log_train2.groupby(['user_id'])['Error2'].cumsum()
log_train2['OpenApp'] = log_train2.groupby(['user_id'])['OpenApp'].cumsum()
log_train2['GetCreditInfo'] = log_train2.groupby(['user_id'])['GetCreditInfo'].cumsum()
log_train2['UseLoanManage'] = log_train2.groupby(['user_id'])['UseLoanManage'].cumsum()
log_train2['UsePrepayCalc'] = log_train2.groupby(['user_id'])['UsePrepayCalc'].cumsum()
log_train2['StartLoanApply'] = log_train2.groupby(['user_id'])['StartLoanApply'].cumsum()
log_train2['ViewLoanApplyIntro'] = log_train2.groupby(['user_id'])['ViewLoanApplyIntro'].cumsum()
log_train2['CompleteIDCertification'] = log_train2.groupby(['user_id'])['CompleteIDCertification'].cumsum()
log_train2['EndLoanApply'] = log_train2.groupby(['user_id'])['EndLoanApply'].cumsum()
log_train2['Login'] = log_train2.groupby(['user_id'])['Login'].cumsum()
log_train2['SignUp'] = log_train2.groupby(['user_id'])['SignUp'].cumsum()
log_train2['UseDSRCalc'] = log_train2.groupby(['user_id'])['UseDSRCalc'].cumsum()
log_train2['Error'] = log_train2.groupby(['user_id'])['Error'].cumsum()

In [68]:
log_train2['Error2'] = log_train2.groupby('user_id')['Error2'].shift(1)
log_train2['OpenApp'] = log_train2.groupby('user_id')['OpenApp'].shift(1)
log_train2['GetCreditInfo'] = log_train2.groupby('user_id')['GetCreditInfo'].shift(1)
log_train2['UseLoanManage'] = log_train2.groupby('user_id')['UseLoanManage'].shift(1)
log_train2['UsePrepayCalc'] = log_train2.groupby('user_id')['UsePrepayCalc'].shift(1)
log_train2['StartLoanApply'] = log_train2.groupby('user_id')['StartLoanApply'].shift(1)
log_train2['ViewLoanApplyIntro'] = log_train2.groupby('user_id')['ViewLoanApplyIntro'].shift(1)
log_train2['CompleteIDCertification'] = log_train2.groupby('user_id')['CompleteIDCertification'].shift(1)
log_train2['EndLoanApply'] = log_train2.groupby('user_id')['EndLoanApply'].shift(1)
log_train2['Login'] = log_train2.groupby('user_id')['Login'].shift(1)
log_train2['SignUp'] = log_train2.groupby('user_id')['SignUp'].shift(1)
log_train2['UseDSRCalc'] = log_train2.groupby('user_id')['UseDSRCalc'].shift(1)
log_train2['Error'] = log_train2.groupby('user_id')['Error'].shift(1)

In [69]:
log_train2.fillna(0,inplace=True)

In [70]:
log_train2.isna().sum()

user_id                    0
date_cd                    0
Error2                     0
OpenApp                    0
GetCreditInfo              0
UseLoanManage              0
UsePrepayCalc              0
StartLoanApply             0
ViewLoanApplyIntro         0
CompleteIDCertification    0
EndLoanApply               0
Login                      0
SignUp                     0
UseDSRCalc                 0
Error                      0
dtype: int64

In [71]:
log_train2['user_id'].value_counts()

232737    92
454280    92
791240    92
203116    91
377301    91
          ..
423634     1
423638     1
423639     1
423661     1
879698     1
Name: user_id, Length: 479773, dtype: int64

In [72]:
log_train2.rename(columns={'date_cd':'date'},inplace=True)

In [74]:
log_train2.to_csv("log_train_cumsum.csv",index=False)

## 먼저 만들었던 log_data와 합치기

In [ ]:
#log_train2 = pd.read_csv("log_train_cumsum.csv")

In [75]:
log_train2['date']=pd.to_datetime(log_train2['date'],format="%Y-%m-%d")

In [76]:
df = pd.read_csv("fin_data/log_train_fin(realreal).csv")

In [77]:
df

,application_id,user_id,insert_time,mp_os,Session,date,how_long,visit_cumsum,from_last_visit,visit_rate,...,ViewLoanApplyIntro_cumsum_2,connect_time,from_last_visit_time,before_apply_count,before_7days,before_30days,event_count1,event_count2,event_group1,event_group2
0,248576.0,9,2022-05-21 23:41:09,Android,1.0,2022-05-21,1,0.0,0.0,0.000000,...,0,0 days 00:03:11,0 days 00:00:00,0,0,0,2,1,4,2
1,1180616.0,11,2022-03-24 10:58:22,iOS,1.0,2022-03-24,1,0.0,0.0,0.000000,...,1,0 days 00:04:23,0 days 00:00:00,0,0,0,9,8,6,6
2,1751522.0,11,2022-04-20 10:11:03,iOS,1.0,2022-04-20,28,1.0,27.0,0.035714,...,2,0 days 00:06:53,26 days 22:58:39,1,0,1,6,6,6,6
3,1508745.0,14,2022-04-18 14:37:09,NaN,0.0,2022-04-18,1,0.0,0.0,0.000000,...,0,0 days 00:00:00,0 days 00:00:00,0,0,0,1,1,2,2
4,1990215.0,17,2022-03-06 10:46:59,iOS,1.0,2022-03-06,1,0.0,0.0,0.000000,...,1,0 days 00:02:30,0 days 00:00:00,0,0,0,4,4,6,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728855,716861.0,879693,2022-05-20 16:33:03,iOS,1.0,2022-05-20,8,2.0,3.0,0.250000,...,3,0 days 00:01:48,3 days 02:09:34,2,1,1,7,5,3,3
728856,1774704.0,879695,2022-05-27 12:50:55,iOS,1.0,2022-05-27,1,0.0,0.0,0.000000,...,1,0 days 00:02:23,0 days 00:00:00,0,0,0,4,4,6,5
728857,2149910.0,879696,2022-03-14 05:23:30,Android,0.0,2022-03-14,1,0.0,0.0,0.000000,...,0,0 days 00:00:00,0 days 00:00:00,0,0,0,1,1,2,2
728858,1856758.0,879696,2022-03-14 05:40:38,Android,1.0,2022-03-14,1,0.0,0.0,0.000000,...,1,0 days 00:05:04,0 days 00:12:04,1,0,0,11,6,6,6
728859,1543548.0,879697,2022-05-10 20:40:52,NaN,0.0,2022-05-10,1,0.0,0.0,0.000000,...,0,0 days 00:00:00,0 days 00:00:00,0,0,0,1,1,2,2

In [78]:
df['date']=pd.to_datetime(df['date'],format="%Y-%m-%d")

In [79]:
listcolumns=df.filter(regex='_1').columns
df.drop(listcolumns,axis=1, inplace=True)

listcolumns2=df.filter(regex='_2').columns
df.drop(listcolumns2,axis=1, inplace=True)

In [80]:
df

,application_id,user_id,insert_time,mp_os,Session,date,how_long,visit_cumsum,from_last_visit,visit_rate,...,session_avg,connect_time,from_last_visit_time,before_apply_count,before_7days,before_30days,event_count1,event_count2,event_group1,event_group2
0,248576.0,9,2022-05-21 23:41:09,Android,1.0,2022-05-21,1,0.0,0.0,0.000000,...,0.0,0 days 00:03:11,0 days 00:00:00,0,0,0,2,1,4,2
1,1180616.0,11,2022-03-24 10:58:22,iOS,1.0,2022-03-24,1,0.0,0.0,0.000000,...,0.0,0 days 00:04:23,0 days 00:00:00,0,0,0,9,8,6,6
2,1751522.0,11,2022-04-20 10:11:03,iOS,1.0,2022-04-20,28,1.0,27.0,0.035714,...,1.0,0 days 00:06:53,26 days 22:58:39,1,0,1,6,6,6,6
3,1508745.0,14,2022-04-18 14:37:09,NaN,0.0,2022-04-18,1,0.0,0.0,0.000000,...,0.0,0 days 00:00:00,0 days 00:00:00,0,0,0,1,1,2,2
4,1990215.0,17,2022-03-06 10:46:59,iOS,1.0,2022-03-06,1,0.0,0.0,0.000000,...,0.0,0 days 00:02:30,0 days 00:00:00,0,0,0,4,4,6,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728855,716861.0,879693,2022-05-20 16:33:03,iOS,1.0,2022-05-20,8,2.0,3.0,0.250000,...,2.0,0 days 00:01:48,3 days 02:09:34,2,1,1,7,5,3,3
728856,1774704.0,879695,2022-05-27 12:50:55,iOS,1.0,2022-05-27,1,0.0,0.0,0.000000,...,0.0,0 days 00:02:23,0 days 00:00:00,0,0,0,4,4,6,5
728857,2149910.0,879696,2022-03-14 05:23:30,Android,0.0,2022-03-14,1,0.0,0.0,0.000000,...,0.0,0 days 00:00:00,0 days 00:00:00,0,0,0,1,1,2,2
728858,1856758.0,879696,2022-03-14 05:40:38,Android,1.0,2022-03-14,1,0.0,0.0,0.000000,...,0.0,0 days 00:05:04,0 days 00:12:04,1,0,0,11,6,6,6
728859,1543548.0,879697,2022-05-10 20:40:52,NaN,0.0,2022-05-10,1,0.0,0.0,0.000000,...,0.0,0 days 00:00:00,0 days 00:00:00,0,0,0,1,1,2,2

In [81]:
df['connect_time_s'] = (pd.to_timedelta(df['connect_time']) / np.timedelta64(1, 's')).astype(int)
df['from_last_visit_time_s'] =(pd.to_timedelta(df['from_last_visit_time']) / np.timedelta64(1, 's')).astype(int)
df.drop(['connect_time','from_last_visit_time'], axis=1,inplace=True)

In [82]:
df.drop(['event_count2','event_group2'],axis=1,inplace=True)

In [83]:
df3 = pd.merge(df,log_train2,how='left',on=['user_id','date'])

In [84]:
df3 = df3.sort_values(['user_id','insert_time'])

In [85]:
df3

,application_id,user_id,insert_time,mp_os,Session,date,how_long,visit_cumsum,from_last_visit,visit_rate,...,UseLoanManage,UsePrepayCalc,StartLoanApply,ViewLoanApplyIntro,CompleteIDCertification,EndLoanApply,Login,SignUp,UseDSRCalc,Error
0,248576.0,9,2022-05-21 23:41:09,Android,1.0,2022-05-21,1,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1180616.0,11,2022-03-24 10:58:22,iOS,1.0,2022-03-24,1,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1751522.0,11,2022-04-20 10:11:03,iOS,1.0,2022-04-20,28,1.0,27.0,0.035714,...,2.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
3,1508745.0,14,2022-04-18 14:37:09,NaN,0.0,2022-04-18,1,0.0,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990215.0,17,2022-03-06 10:46:59,iOS,1.0,2022-03-06,1,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728855,716861.0,879693,2022-05-20 16:33:03,iOS,1.0,2022-05-20,8,2.0,3.0,0.250000,...,2.0,0.0,8.0,3.0,3.0,6.0,0.0,0.0,0.0,0.0
728856,1774704.0,879695,2022-05-27 12:50:55,iOS,1.0,2022-05-27,1,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
728857,2149910.0,879696,2022-03-14 05:23:30,Android,0.0,2022-03-14,1,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
728858,1856758.0,879696,2022-03-14 05:40:38,Android,1.0,2022-03-14,1,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
728859,1543548.0,879697,2022-05-10 20:40:52,NaN,0.0,2022-05-10,1,0.0,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
df3['Error2'] = df3.groupby('user_id')['Error2'].ffill()
df3['OpenApp'] = df3.groupby('user_id')['OpenApp'].ffill()
df3['GetCreditInfo'] = df3.groupby('user_id')['GetCreditInfo'].ffill()
df3['UseLoanManage'] = df3.groupby('user_id')['UseLoanManage'].ffill()
df3['UsePrepayCalc'] = df3.groupby('user_id')['UsePrepayCalc'].ffill()
df3['StartLoanApply'] = df3.groupby('user_id')['StartLoanApply'].ffill()
df3['ViewLoanApplyIntro'] = df3.groupby('user_id')['ViewLoanApplyIntro'].ffill()
df3['CompleteIDCertification'] = df3.groupby('user_id')['CompleteIDCertification'].ffill()
df3['EndLoanApply'] = df3.groupby('user_id')['EndLoanApply'].ffill()
df3['Login'] = df3.groupby('user_id')['Login'].ffill()
df3['SignUp'] = df3.groupby('user_id')['SignUp'].ffill()
df3['UseDSRCalc'] = df3.groupby('user_id')['UseDSRCalc'].ffill()
df3['Error'] = df3.groupby('user_id')['Error'].ffill()

In [87]:
df3.isna().sum()

application_id                 0
user_id                        0
insert_time                    0
mp_os                      24273
Session                        0
date                           0
how_long                       0
visit_cumsum                   0
from_last_visit                0
visit_rate                     0
session_sum                    0
session_avg                    0
before_apply_count             0
before_7days                   0
before_30days                  0
event_count1                   0
event_group1                   0
connect_time_s                 0
from_last_visit_time_s         0
Error2                     44717
OpenApp                    44717
GetCreditInfo              44717
UseLoanManage              44717
UsePrepayCalc              44717
StartLoanApply             44717
ViewLoanApplyIntro         44717
CompleteIDCertification    44717
EndLoanApply               44717
Login                      44717
SignUp                     44717
UseDSRCalc                 44717
Error                      44717
dtype: int64

In [88]:
df3['Error2'] = df3['Error2'].fillna(0)
df3['OpenApp'] = df3['OpenApp'].fillna(0)
df3['GetCreditInfo']=df3['GetCreditInfo'].fillna(0)
df3['UseLoanManage']=df3['UseLoanManage'].fillna(0)
df3['UsePrepayCalc']=df3['UsePrepayCalc'].fillna(0)
df3['StartLoanApply']=df3['StartLoanApply'].fillna(0)
df3['ViewLoanApplyIntro']=df3['ViewLoanApplyIntro'].fillna(0)
df3['CompleteIDCertification']=df3['CompleteIDCertification'].fillna(0)
df3['EndLoanApply']=df3['EndLoanApply'].fillna(0)
df3['Login']= df3['Login'].fillna(0)
df3['SignUp']= df3['SignUp'].fillna(0)
df3['UseDSRCalc']= df3['UseDSRCalc'].fillna(0)
df3['Error']= df3['Error'].fillna(0)

In [89]:
df3.isna().sum()

application_id                 0
user_id                        0
insert_time                    0
mp_os                      24273
Session                        0
date                           0
how_long                       0
visit_cumsum                   0
from_last_visit                0
visit_rate                     0
session_sum                    0
session_avg                    0
before_apply_count             0
before_7days                   0
before_30days                  0
event_count1                   0
event_group1                   0
connect_time_s                 0
from_last_visit_time_s         0
Error2                         0
OpenApp                        0
GetCreditInfo                  0
UseLoanManage                  0
UsePrepayCalc                  0
StartLoanApply                 0
ViewLoanApplyIntro             0
CompleteIDCertification        0
EndLoanApply                   0
Login                          0
SignUp                         0
UseDSRCalc                     0
Error                          0
dtype: int64

In [90]:
df3

,application_id,user_id,insert_time,mp_os,Session,date,how_long,visit_cumsum,from_last_visit,visit_rate,...,UseLoanManage,UsePrepayCalc,StartLoanApply,ViewLoanApplyIntro,CompleteIDCertification,EndLoanApply,Login,SignUp,UseDSRCalc,Error
0,248576.0,9,2022-05-21 23:41:09,Android,1.0,2022-05-21,1,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1180616.0,11,2022-03-24 10:58:22,iOS,1.0,2022-03-24,1,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1751522.0,11,2022-04-20 10:11:03,iOS,1.0,2022-04-20,28,1.0,27.0,0.035714,...,2.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
3,1508745.0,14,2022-04-18 14:37:09,NaN,0.0,2022-04-18,1,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1990215.0,17,2022-03-06 10:46:59,iOS,1.0,2022-03-06,1,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728855,716861.0,879693,2022-05-20 16:33:03,iOS,1.0,2022-05-20,8,2.0,3.0,0.250000,...,2.0,0.0,8.0,3.0,3.0,6.0,0.0,0.0,0.0,0.0
728856,1774704.0,879695,2022-05-27 12:50:55,iOS,1.0,2022-05-27,1,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
728857,2149910.0,879696,2022-03-14 05:23:30,Android,0.0,2022-03-14,1,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
728858,1856758.0,879696,2022-03-14 05:40:38,Android,1.0,2022-03-14,1,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
728859,1543548.0,879697,2022-05-10 20:40:52,NaN,0.0,2022-05-10,1,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [91]:
df3.to_csv("log_new_1013_train.csv",index=False)

In [133]:
log_train = pd.read_csv('data/log_train.csv')
log_test = pd.read_csv('data/log_test.csv')

In [134]:
log_concat = pd.concat([log_train, log_test], axis=0).reset_index()

In [136]:
log_concat.drop(['index'],axis=1,inplace=True)

In [138]:
log_concat.loc[log_concat['mp_os'].isna(), 'event'] = 'Error'
log_concat.loc[log_concat['mp_os']=='android', 'event'] = 'Error2'
log_concat = log_concat.sort_values(['user_id','timestamp'])

In [140]:
log_concat = log_concat[['user_id','timestamp','date_cd','event']]

In [142]:
log_concat = log_concat.drop_duplicates(['user_id','timestamp','date_cd','event'],keep="first")

In [144]:
log_concat2 = log_concat.copy()

In [145]:
log_concat2['Error2'] = np.where(log_concat2['event'] == "Error2", 1, 0)
log_concat2['OpenApp'] = np.where(log_concat2['event'] == "OpenApp", 1, 0)
log_concat2['GetCreditInfo'] = np.where(log_concat2['event'] == "GetCreditInfo", 1, 0)
log_concat2['UseLoanManage'] = np.where(log_concat2['event'] == "UseLoanManage", 1, 0)
log_concat2['UsePrepayCalc'] = np.where(log_concat2['event'] == "UsePrepayCalc", 1, 0)
log_concat2['StartLoanApply'] = np.where(log_concat2['event'] == "StartLoanApply", 1, 0)
log_concat2['ViewLoanApplyIntro'] = np.where(log_concat2['event'] == "ViewLoanApplyIntro", 1, 0)
log_concat2['CompleteIDCertification'] = np.where(log_concat2['event'] == "CompleteIDCertification", 1, 0)
log_concat2['EndLoanApply'] = np.where(log_concat2['event'] == "EndLoanApply", 1, 0)
log_concat2['Login'] = np.where(log_concat2['event'] == "Login", 1, 0)              
log_concat2['SignUp'] = np.where(log_concat2['event'] == "SignUp", 1, 0)
log_concat2['UseDSRCalc'] = np.where(log_concat2['event'] == "UseDSRCalc", 1, 0) 
log_concat2['Error'] = np.where(log_concat2['event'] == "Error", 1, 0)

In [146]:
log_concat2['Error2'] = log_concat2.groupby(['user_id','date_cd'])['Error2'].cumsum()
log_concat2['OpenApp'] = log_concat2.groupby(['user_id','date_cd'])['OpenApp'].cumsum()
log_concat2['GetCreditInfo'] = log_concat2.groupby(['user_id','date_cd'])['GetCreditInfo'].cumsum()
log_concat2['UseLoanManage'] = log_concat2.groupby(['user_id','date_cd'])['UseLoanManage'].cumsum()
log_concat2['UsePrepayCalc'] = log_concat2.groupby(['user_id','date_cd'])['UsePrepayCalc'].cumsum()
log_concat2['StartLoanApply'] = log_concat2.groupby(['user_id','date_cd'])['StartLoanApply'].cumsum()
log_concat2['ViewLoanApplyIntro'] = log_concat2.groupby(['user_id','date_cd'])['ViewLoanApplyIntro'].cumsum()
log_concat2['CompleteIDCertification'] = log_concat2.groupby(['user_id','date_cd'])['CompleteIDCertification'].cumsum()
log_concat2['EndLoanApply'] = log_concat2.groupby(['user_id','date_cd'])['EndLoanApply'].cumsum()
log_concat2['Login'] = log_concat2.groupby(['user_id','date_cd'])['Login'].cumsum()
log_concat2['SignUp'] = log_concat2.groupby(['user_id','date_cd'])['SignUp'].cumsum()
log_concat2['UseDSRCalc'] = log_concat2.groupby(['user_id','date_cd'])['UseDSRCalc'].cumsum()
log_concat2['Error'] = log_concat2.groupby(['user_id','date_cd'])['Error'].cumsum()

In [147]:
log_concat2['Error2'] = log_concat2.groupby(['user_id','date_cd']).Error2.transform('last')
log_concat2['OpenApp'] = log_concat2.groupby(['user_id','date_cd']).OpenApp.transform('last')
log_concat2['GetCreditInfo'] = log_concat2.groupby(['user_id','date_cd']).GetCreditInfo.transform('last')
log_concat2['UseLoanManage'] = log_concat2.groupby(['user_id','date_cd']).UseLoanManage.transform('last')
log_concat2['UsePrepayCalc'] = log_concat2.groupby(['user_id','date_cd']).UsePrepayCalc.transform('last')
log_concat2['StartLoanApply'] = log_concat2.groupby(['user_id','date_cd']).StartLoanApply.transform('last')
log_concat2['ViewLoanApplyIntro'] = log_concat2.groupby(['user_id','date_cd']).ViewLoanApplyIntro.transform('last')
log_concat2['CompleteIDCertification'] = log_concat2.groupby(['user_id','date_cd']).CompleteIDCertification.transform('last')
log_concat2['EndLoanApply'] = log_concat2.groupby(['user_id','date_cd']).EndLoanApply.transform('last')
log_concat2['Login'] = log_concat2.groupby(['user_id','date_cd']).Login.transform('last')
log_concat2['SignUp'] = log_concat2.groupby(['user_id','date_cd']).SignUp.transform('last')
log_concat2['UseDSRCalc'] = log_concat2.groupby(['user_id','date_cd']).UseDSRCalc.transform('last')
log_concat2['Error'] = log_concat2.groupby(['user_id','date_cd']).Error.transform('last')

In [149]:
log_concat2.drop(['timestamp','event'],axis=1,inplace=True)

In [150]:
log_concat2 = log_concat2.drop_duplicates()

In [151]:
log_concat2 = log_concat2.sort_values(['user_id','date_cd'])

In [152]:
log_concat2['Error2'] = log_concat2.groupby(['user_id'])['Error2'].cumsum()
log_concat2['OpenApp'] = log_concat2.groupby(['user_id'])['OpenApp'].cumsum()
log_concat2['GetCreditInfo'] = log_concat2.groupby(['user_id'])['GetCreditInfo'].cumsum()
log_concat2['UseLoanManage'] = log_concat2.groupby(['user_id'])['UseLoanManage'].cumsum()
log_concat2['UsePrepayCalc'] = log_concat2.groupby(['user_id'])['UsePrepayCalc'].cumsum()
log_concat2['StartLoanApply'] = log_concat2.groupby(['user_id'])['StartLoanApply'].cumsum()
log_concat2['ViewLoanApplyIntro'] = log_concat2.groupby(['user_id'])['ViewLoanApplyIntro'].cumsum()
log_concat2['CompleteIDCertification'] = log_concat2.groupby(['user_id'])['CompleteIDCertification'].cumsum()
log_concat2['EndLoanApply'] = log_concat2.groupby(['user_id'])['EndLoanApply'].cumsum()
log_concat2['Login'] = log_concat2.groupby(['user_id'])['Login'].cumsum()
log_concat2['SignUp'] = log_concat2.groupby(['user_id'])['SignUp'].cumsum()
log_concat2['UseDSRCalc'] = log_concat2.groupby(['user_id'])['UseDSRCalc'].cumsum()
log_concat2['Error'] = log_concat2.groupby(['user_id'])['Error'].cumsum()

In [153]:
log_concat2['Error2'] = log_concat2.groupby('user_id')['Error2'].shift(1)
log_concat2['OpenApp'] = log_concat2.groupby('user_id')['OpenApp'].shift(1)
log_concat2['GetCreditInfo'] = log_concat2.groupby('user_id')['GetCreditInfo'].shift(1)
log_concat2['UseLoanManage'] = log_concat2.groupby('user_id')['UseLoanManage'].shift(1)
log_concat2['UsePrepayCalc'] = log_concat2.groupby('user_id')['UsePrepayCalc'].shift(1)
log_concat2['StartLoanApply'] = log_concat2.groupby('user_id')['StartLoanApply'].shift(1)
log_concat2['ViewLoanApplyIntro'] = log_concat2.groupby('user_id')['ViewLoanApplyIntro'].shift(1)
log_concat2['CompleteIDCertification'] = log_concat2.groupby('user_id')['CompleteIDCertification'].shift(1)
log_concat2['EndLoanApply'] = log_concat2.groupby('user_id')['EndLoanApply'].shift(1)
log_concat2['Login'] = log_concat2.groupby('user_id')['Login'].shift(1)
log_concat2['SignUp'] = log_concat2.groupby('user_id')['SignUp'].shift(1)
log_concat2['UseDSRCalc'] = log_concat2.groupby('user_id')['UseDSRCalc'].shift(1)
log_concat2['Error'] = log_concat2.groupby('user_id')['Error'].shift(1)

In [157]:
log_concat2.fillna(0,inplace=True)

In [158]:
log_concat2.isna().sum()

user_id                    0
date_cd                    0
Error2                     0
OpenApp                    0
GetCreditInfo              0
UseLoanManage              0
UsePrepayCalc              0
StartLoanApply             0
ViewLoanApplyIntro         0
CompleteIDCertification    0
EndLoanApply               0
Login                      0
SignUp                     0
UseDSRCalc                 0
Error                      0
dtype: int64

In [162]:
log_concat2.rename(columns={'date_cd':'date'},inplace=True)

In [155]:
pd.options.display.max_columns = None

In [172]:
log_concat2.to_csv("log_full_cumsum.csv",index=False)

In [173]:
log_concat2['date']=pd.to_datetime(log_concat2['date'],format="%Y-%m-%d")

In [174]:
df = pd.read_csv("fin_data/log_test_fin(realreal).csv")

In [176]:
df['date']=pd.to_datetime(df['date'],format="%Y-%m-%d")

In [177]:
listcolumns=df.filter(regex='_1').columns
df.drop(listcolumns,axis=1, inplace=True)

listcolumns2=df.filter(regex='_2').columns
df.drop(listcolumns2,axis=1, inplace=True)

In [179]:
df['connect_time_s'] = (pd.to_timedelta(df['connect_time']) / np.timedelta64(1, 's')).astype(int)
df['from_last_visit_time_s'] =(pd.to_timedelta(df['from_last_visit_time']) / np.timedelta64(1, 's')).astype(int)
df.drop(['connect_time','from_last_visit_time'], axis=1,inplace=True)

In [180]:
df.drop(['event_count2','event_group2'],axis=1,inplace=True)

In [182]:
df3 = pd.merge(df,log_concat2,how='left',on=['user_id','date'])

In [183]:
df3 = df3.sort_values(['user_id','insert_time'])

In [184]:
df3.shape

(239865, 32)

In [186]:
df3

,application_id,user_id,insert_time,mp_os,Session,date,how_long,visit_cumsum,from_last_visit,visit_rate,session_sum,session_avg,before_apply_count,before_7days,before_30days,event_count1,event_group1,connect_time_s,from_last_visit_time_s,Error2,OpenApp,GetCreditInfo,UseLoanManage,UsePrepayCalc,StartLoanApply,ViewLoanApplyIntro,CompleteIDCertification,EndLoanApply,Login,SignUp,UseDSRCalc,Error
0,1521731.0,11,2022-06-09 11:25:25,iOS,1.0,2022-06-09,78,2.0,50.0,0.025641,2.0,1.000000,0,0,0,5,3,127,4322586,0.0,3.0,8.0,7.0,1.0,2.0,3.0,2.0,5.0,0.0,0.0,0.0,0.0
1,1894024.0,11,2022-06-13 21:44:30,iOS,1.0,2022-06-13,82,3.0,4.0,0.036585,3.0,1.000000,1,1,1,5,6,89,382614,0.0,4.0,8.0,7.0,1.0,3.0,4.0,3.0,6.0,0.0,0.0,0.0,0.0
2,972420.0,25,2022-06-11 10:49:17,Android,1.0,2022-06-11,89,2.0,13.0,0.022472,3.0,1.500000,0,0,1,9,6,117,1137649,3.0,3.0,0.0,1.0,0.0,1.0,1.0,1.0,3.0,1.0,0.0,0.0,0.0
3,1540551.0,27,2022-06-23 16:01:51,Android,1.0,2022-06-23,83,10.0,1.0,0.120482,17.0,1.700000,0,1,1,8,6,249,60748,15.0,16.0,0.0,13.0,0.0,3.0,7.0,3.0,5.0,15.0,0.0,0.0,0.0
4,1669470.0,27,2022-06-29 18:05:53,Android,2.0,2022-06-29,89,15.0,1.0,0.168539,23.0,1.533333,1,1,1,3,6,76,8748,22.0,22.0,0.0,16.0,0.0,5.0,11.0,4.0,8.0,20.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239860,1885945.0,879683,2022-06-09 11:30:37,Android,1.0,2022-06-09,101,14.0,2.0,0.138614,17.0,1.214286,0,1,1,7,6,188,176952,17.0,22.0,0.0,14.0,0.0,6.0,11.0,3.0,5.0,19.0,0.0,0.0,0.0
239861,1345681.0,879683,2022-06-17 07:09:55,Android,1.0,2022-06-17,109,16.0,7.0,0.146789,19.0,1.187500,1,1,1,6,6,217,587150,19.0,24.0,0.0,15.0,0.0,8.0,12.0,4.0,7.0,21.0,0.0,0.0,0.0
239862,77601.0,879688,2022-06-20 21:11:18,NaN,0.0,2022-06-20,1,0.0,0.0,0.000000,0.0,0.000000,0,0,0,1,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239863,1229112.0,879693,2022-06-14 11:06:52,iOS,1.0,2022-06-14,33,4.0,3.0,0.121212,6.0,1.500000,0,1,1,14,6,163,223115,0.0,5.0,1.0,3.0,0.0,12.0,5.0,4.0,9.0,0.0,0.0,0.0,0.0
239864,1055525.0,879693,2022-06-27 10:16:04,iOS,1.0,2022-06-27,46,6.0,1.0,0.130435,8.0,1.333333,1,1,1,5,3,136,75942,0.0,7.0,2.0,5.0,0.0,16.0,9.0,5.0,10.0,0.0,0.0,0.0,0.0

In [187]:
df3['Error2'] = df3.groupby('user_id')['Error2'].ffill()
df3['OpenApp'] = df3.groupby('user_id')['OpenApp'].ffill()
df3['GetCreditInfo'] = df3.groupby('user_id')['GetCreditInfo'].ffill()
df3['UseLoanManage'] = df3.groupby('user_id')['UseLoanManage'].ffill()
df3['UsePrepayCalc'] = df3.groupby('user_id')['UsePrepayCalc'].ffill()
df3['StartLoanApply'] = df3.groupby('user_id')['StartLoanApply'].ffill()
df3['ViewLoanApplyIntro'] = df3.groupby('user_id')['ViewLoanApplyIntro'].ffill()
df3['CompleteIDCertification'] = df3.groupby('user_id')['CompleteIDCertification'].ffill()
df3['EndLoanApply'] = df3.groupby('user_id')['EndLoanApply'].ffill()
df3['Login'] = df3.groupby('user_id')['Login'].ffill()
df3['SignUp'] = df3.groupby('user_id')['SignUp'].ffill()
df3['UseDSRCalc'] = df3.groupby('user_id')['UseDSRCalc'].ffill()
df3['Error'] = df3.groupby('user_id')['Error'].ffill()

In [188]:
df3.isna().sum()

application_id                 0
user_id                        0
insert_time                    0
mp_os                      16000
Session                        0
date                           0
how_long                       0
visit_cumsum                   0
from_last_visit                0
visit_rate                     0
session_sum                    0
session_avg                    0
before_apply_count             0
before_7days                   0
before_30days                  0
event_count1                   0
event_group1                   0
connect_time_s                 0
from_last_visit_time_s         0
Error2                      9977
OpenApp                     9977
GetCreditInfo               9977
UseLoanManage               9977
UsePrepayCalc               9977
StartLoanApply              9977
ViewLoanApplyIntro          9977
CompleteIDCertification     9977
EndLoanApply                9977
Login                       9977
SignUp                      9977
UseDSRCalc                  9977
Error                       9977
dtype: int64

In [189]:
df3['Error2'] = df3['Error2'].fillna(0)
df3['OpenApp'] = df3['OpenApp'].fillna(0)
df3['GetCreditInfo']=df3['GetCreditInfo'].fillna(0)
df3['UseLoanManage']=df3['UseLoanManage'].fillna(0)
df3['UsePrepayCalc']=df3['UsePrepayCalc'].fillna(0)
df3['StartLoanApply']=df3['StartLoanApply'].fillna(0)
df3['ViewLoanApplyIntro']=df3['ViewLoanApplyIntro'].fillna(0)
df3['CompleteIDCertification']=df3['CompleteIDCertification'].fillna(0)
df3['EndLoanApply']=df3['EndLoanApply'].fillna(0)
df3['Login']= df3['Login'].fillna(0)
df3['SignUp']= df3['SignUp'].fillna(0)
df3['UseDSRCalc']= df3['UseDSRCalc'].fillna(0)
df3['Error']= df3['Error'].fillna(0)

In [190]:
df3.isna().sum()

application_id                 0
user_id                        0
insert_time                    0
mp_os                      16000
Session                        0
date                           0
how_long                       0
visit_cumsum                   0
from_last_visit                0
visit_rate                     0
session_sum                    0
session_avg                    0
before_apply_count             0
before_7days                   0
before_30days                  0
event_count1                   0
event_group1                   0
connect_time_s                 0
from_last_visit_time_s         0
Error2                         0
OpenApp                        0
GetCreditInfo                  0
UseLoanManage                  0
UsePrepayCalc                  0
StartLoanApply                 0
ViewLoanApplyIntro             0
CompleteIDCertification        0
EndLoanApply                   0
Login                          0
SignUp                         0
UseDSRCalc                     0
Error                          0
dtype: int64

In [191]:
df3.shape

(239865, 32)

In [192]:
df3.to_csv("log_new_1013_test.csv",index=False)